@model IEnumerable<TournamentManagementMVC.Models.Tournament.TournamentListElementModel>

@{
    ViewData["Title"] = "Tournaments";
}

<h1>Tournaments</h1>

<p>
    <a asp-action="Create">Create New Tournament</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TournamentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TournamentDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TournamentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GameName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TournamentDescription)
                </td>
                <td>
                    <a asp-action="Open" asp-route-tournamentId="@item.TournamentId">Open</a>
                </td>
            </tr>
        }
    </tbody>
</table>
