@model TournamentManagementMVC.Models.Tournament.Open.TournamentOpenModel

@{
    ViewData["Title"] = Model.TournamentName;
}

<div class="row pt-3 text-center bg-primary text-white bg-opacity-75">
    <div class="col-sm-12">
        <h1>@Model.TournamentName</h1>
    </div>
</div>

@if (!string.IsNullOrWhiteSpace(Model.GameName))
{
    <div class="row pt-3 text-center bg-primary text-white bg-opacity-75">
        <div class="col-sm-12">
            <h2>@Model.GameName</h2>
        </div>
    </div>
}

@if (!string.IsNullOrWhiteSpace(Model.TournamentDescription))
{
    <div class="row pt-3 text-center bg-primary text-white bg-opacity-75">
        <div class="col-sm-12">
            <p>@Model.TournamentDescription</p>
        </div>
    </div>
}

<div class="row text-center mt-1 mb-2 pt-4 pb-4 bg-secondary bg-opacity-10 border-top">
    <nav>
        <div class="nav nav-pills justify-content-center" id="rounds-tab" role="tablist">
            @foreach (var round in Model.Rounds)
            {
                var roundName = ConvertRoundName(round.RoundName);

                <button class="nav-link" id="rounds-@roundName-tab"
                        data-bs-toggle="pill" data-bs-target="#rounds-@roundName" type="button" role="tab"
                        aria-controls="rounds-@roundName" aria-selected="true">
                    @roundName
                </button>
            }
        </div>
    </nav>
</div>
<div class="tab-content" id="rounds-tabContent">
    @foreach (var round in Model.Rounds)
    {
        var roundName = ConvertRoundName(round.RoundName);

        <div id="rounds-@roundName" class="tab-pane fade" role="tabpanel" aria-labelledby="rounds-@roundName-tab" tabindex="0">

            @foreach (var roundMatch in round.RoundMatches)
            {
                if (roundMatch.MatchDate is not null)
                {
                    <div class="row pt-2 pb-2 bg-info text-black bg-opacity-75 border-bottom border-dark justify-content-center">@roundMatch.MatchDate</div>
                }

                foreach (var matchTeam in roundMatch.MatchTeams)
                {
                    <div class="row pt-2 pb-2 bg-info text-black bg-opacity-75 border-bottom border-dark">
                        <div class="col-8 text-start">@matchTeam.TeamName</div>
                        <div class="col-1 text-center">@(matchTeam.IsWinner ? "🥇" : "")</div>

                        @foreach (var setScore in matchTeam.TeamSetsScores)
                        {
                            <div class="col-1 text-center">@setScore</div>
                        }

                    </div>
                }

                <div class="row mt-1 mb-3">
                    <a asp-controller="Match" asp-action="Edit" asp-route-matchId="@roundMatch.MatchId" type="button" class="btn btn-secondary">Edit</a>
                </div>
            }

        </div>
    }
</div>

@* Delete button *@
<button type="button" class="btn btn-danger col-1"
        data-bs-toggle="modal" data-bs-target="#deleteTournamentModal"
        data-bs-toggle-tooltip="tooltip" data-bs-trigger="hover" data-bs-title="Delete tournament">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
    </svg>
</button>

@* Delete Tournament Modal *@
<div id="deleteTournamentModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Delete tournament</h1>
                <button class="btn-close" type="button" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <span>Are you sure you want to remove this tournament?</span>
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger px-5 mx-5" asp-action="Delete" asp-route-tournamentId="@Model.TournamentId">Yes</a>

                <button class="btn btn-primary px-5 mx-5" type="button" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    @* tooltips *@
    <script type="text/javascript">
        tooltipTriggerList = document.querySelectorAll('[data-bs-toggle-tooltip="tooltip"]');
        tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
    </script>
}

@functions
{
    private static string ConvertRoundName(string roundName)
    {
        return roundName.Replace(' ', '-');
    }
}
